// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$color-green:           #7dbe9f;
$color-green1:          #3c8687;
$color-blue:            #145464;
$color-grey:            #8f8f8f;
$color-grey2:           #c5c5c5;
$color-grey3:           #6e6e6e;
$color-grey4:           #f7f7f7;
$color-grey5:           #c8c8c8;

$color-1:             #f41034;
$color-2:             #98192e;
$color-3:             #6dc2c3;
$color-4:             #8f8f8f;
$color-5:             #c5c5c5;
$color-6:             #6e6e6e;
$color-7:             #f7f7f7;
$color-8:             #c8c8c8;
$color-9:             #6dc2c3;
$color-10:            #58595b;

$brand-primary:         $color-1;
$primary-color:         $color-4;


$pagination-color: $color-3;
$pagination-hover-color : $color-3;
$pagination-active-bg:  $color-3;
$pagination-active-border:  $color-3;

$base-font-size:        16;

// Fonts

$font-ProximaNovaRegular:      'Proxima Nova Regular', serif;
$font-ProximaNovaLight:        'Proxima Nova Light', serif;
$font-ProximaNovaSemiBold:      'Proxima Nova Semibold', serif;
$font-ProximaNovaBold:          'Proxima Nova Bold', serif;
$font-ProximaNovaExtraBold:      'Proxima Nova ExtraBold', serif;
$font-BentonSansBold:           'Benton Sans Bold', serif;
$font-BentonSansRegular:      'Benton Sans Regular', serif;
$font-BentonSansLight:      'Benton Sans Light', serif;