#header {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 999;

  .container {
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  .hamburger-inner {
    top: 20px !important;
  }

  #header-top {
    //min-height: 52px;
    background-color: $color-1;
  }

  .bg-faded {
    background-color: #FFFFFF;
    width: 100%;
  }


  .menu-primary-menu-container {
    width: 100%;
  }
  #nav-primary {

    @include media-breakpoint-down(lg) {
      padding: 25px 0px;
    }

    li {
      padding: 10px 0px ;
      @include media-breakpoint-up(lg) {
        padding: 0px 20px;
      }
      @include media-breakpoint-up(xl) {
        padding: 0px 25px;
      }

      &:last-child {
        padding-right: 0px;
      }

      a {
        color: $color-1;
        font-size: rem(18);

        @include hover() {
          text-decoration: none;
          color: $color-2;
        }

      }
    }
  }
}